.footer {
  background-color: #111;
  color: #ffffff;
  padding: 40px 20px;
  font-size: 0.95rem;
  text-align: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-top a {
  font-size: 1.4rem;
}

.footer-logo {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0 0 10px;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #fff;
}

.footer-links,
.footer-legal,
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  margin: 20px 0;
}

.footer-links a,
.footer-legal a,
.footer-social a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.footer-links a:hover,
.footer-legal a:hover,
.footer-social a:hover {
  color: #fff;
  transform: scale(1.15);
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 1.2rem;
  text-align: center;
}

.footer-email {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  margin: 0.2rem 0;
}

.footer-email:hover {
  text-decoration: underline;
  color: #8dc4ff;
}

@media screen and (max-width: 768px) {

  .footer {
    padding: 30px 15px;
    font-size: 0.9rem;
  }

  .footer-logo {
    font-size: 1.3rem;
  }

  .footer-top a {
    font-size: 1rem;
  }

  /* 🔥 MAIN STRUCTURE */
  .footer-links,
  .footer-social,
  .footer-legal {
    flex-direction: column;   /* 👈 vertical columns */
    align-items: center;
    gap: 10px;
  }

  /* spacing between sections */
  .footer-links {
    margin-top: 15px;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.8rem;
  }

  .footer-legal {
    margin-top: 10px;
  }

  /* text size */
  .footer-links a,
  .footer-legal a,
  .footer-social a {
    font-size: 0.95rem;
  }

}



